<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets\img\profile.jpg" class="img-fluid" alt="Profile">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3> Hi I'm Karn</h3>
          <p>
            My name is Techasit Chanotrn, Karn. 
            I'm 19 years old computer science major student at King Mongkut's Institute of Technology Ladkrabang. 
            I'm interested in Back-end development as well as being a Dev- Ops engineer.
          </p>
          <div class="row">
            <div class="col-lg-6">
             
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>