<footer class="bg-dark py-5 mt-5 px-10">
  <div class="container text-light font-medium d-flex flex-column align-items-center gap-3 flex-sm-row justify-content-sm-around">
      <div>
          <h2 class="display-4 fw-bold text-white">Let's Talk!</h2>
          <h4 class="text-light fw-bold mt-4">Contact Info</h4>
          <p class="fw-bold text-light mt-2">
              karn2547@gmail.com<br>
              Nonthaburi 11000, Thailand<br>
              +66 63 548 xxxx
          </p>
      </div>
      <div>
          <h5 class="h2 fw-bold text-white">Links</h5>
          <div class="d-flex flex-column mt-4 gap-2">
              <a href="#" class="text-decoration-none text-light">Home</a>

          </div>
      </div>
      <div>
          <h5 class="h2 fw-bold text-white">Resources</h5>
          <div class="d-flex flex-column align-items-start mt-4 gap-2">
              <a href="https://getbootstrap.com/" target="_blank" class="text-decoration-none text-light">Bootstrap</a>

          </div>
      </div>
  </div>
  <hr class="mx-20">
  <div class="h-32 d-flex flex-column justify-content-evenly align-items-center">
      <div class="d-flex flex-row gap-3 mt-4">
          </a>
          <a href="https://www.instagram.com/" >
            <i class="fa fa-instagram"></i>
        </a>
         
      </div>
      <p class="text-light">All rights reserved by © Portfolio tchantor 2024</p>
  </div>
</footer>
