<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-bold" href="#about">About me</a>
        <a class="nav-link fw-bold" href="#education">Education</a>
        <a class="nav-link fw-bold" href="#skills">Skills</a>
        <a class="nav-link fw-bold" href="#footer">Contact</a>
      </div>
    </div>
      <a class="nav-link text-warning fw-bold" href="/Rush/main.html">TCHANTOR</a>
  </div>
</nav>
