<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6">
        <div class="skill-head">
          <h5>Communication</h5>
        </div>

        <div class="skill-item">
          <h6>Thai</h6>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%"></div>

          </div>
        </div>

        <div class="skill-item">
          <h6>English</h6>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%"></div>

          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="skill-head">
          <h5>Technical</h5>
        </div>

        <div class="skill-item">
          <h6>Python</h6>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%"></div>
          </div>
        </div>
        
        <div class="skill-item">
          <h6>Java</h6>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%"></div>
          </div>
        </div>

        <div class="skill-item">
          <h6>Web</h6>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 30%"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
